/* Custom CSS for all */
html {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
}
body {
	display: flex;
	flex-direction: row;
	margin: 0;
}

nav {
	flex: 1;
	background-color: rgb(57,57,58);
	color: #fff;
}

nav ul{
	list-style: none;
	}

a {
	color: #fff;
	text-decoration: none;
	font-size: xx-large;
}

li:hover, a:hover {
	background: rgb(249, 249, 249);
	color: rgb(57,57,58);
}

section {
	flex: 5;

	display: flex;
	flex-direction: column;


}

section span {
	flex: 1;

	background: red;
}

/* Custom CSS, useful for Upload view*/
#drop_zone {
	flex: 1;
  border: 2px dashed rgb(187, 187, 187);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
  margin: 150px;
  text-align: center;
  font-size: xx-large;
  color: rgb(187, 187, 187);
}

/* Custom CSS for Insight View */

#content {
	display: flex;

	flex-direction: column;
}

.insight-container {
	display: flex;
}


.insight {
	flex: 1;
	display: flex;
	flex-direction: column;

	text-align: center;

	border: 1px solid rgb(57,57,58);
}
.insight span:first-child {
	flex: 4;
	background: rgb(40, 134, 117);
	color: rgb(249, 249, 249);
}

.insight span:last-child {
	flex: 1;
	background: white;
}


.hidden {
  display: none;
}